---
import { Image } from 'astro:assets';

export interface ImageNode {
  fields?: {
    size?: "full" | "small" | "medium" | "large";
    position?: "left" | "right" | "center";
  };
  value:  {
    id: string;
    alt?: string;
    width: number;
    height: number;
    mimeType: string;
    filesize: number;
    url: string;
    filename: string;
  };
}

interface Props {
  content: ImageNode;
}

const {
  content: {
    fields,
    value: { alt, filename, width = 200, height = 100 },
  },
} = Astro.props;

const sizeMap = {
  small: 200,
  medium: 400,
  large: 800
}
const justifyMap = {
  left: "justify-content-start",
  center: "justify-content-center",
  right: "justify-content-end"
}

const justify = justifyMap[fields?.position ?? 'center'] || 'justify-content-start';
const prefix = import.meta.env.MEDIAPATH || '/media/';
const imgWidth = fields?.size === 'full' ? width : sizeMap[fields?.size ?? 'medium'];
const imgHeight = fields?.size === 'full' ? height : (imgWidth * height) / width;

let imageProps = {
  width: imgWidth,
  height: imgHeight,
  src: prefix + filename,
  alt: alt || ""
}
---

<div class:list={['lexical-media', 'd-flex', justify]} >
  <Image {...imageProps}  />
</div>

<style lang="css">
  .lexical-media > img {
    max-width: 100%;
    height: auto;
  }
</style>