// @import "./custom_variables";
@import "./variables.scss";

//Set the last element of a block's margin to 0
//May need to be overridden in some.

.section > .block:last-of-type :last-child {
    margin-bottom: 0;
}

.material-symbols-outlined {
    font-family: 'Material Icons', sans-serif;  }


.site-max {
    max-width: $site-max-width;
}

.default-header {
    //Match navbar max-width and padding
    max-width: $site-max-width;
    padding-left: $nav-link-padding-x; 
    padding-right: $nav-link-padding-x; 
    margin: 0 auto;
}