---
import type { SectionColumns } from "src/types/payload-types";
interface Props {
    section: SectionColumns
}
const { section } = Astro.props;
---
<section class="section __column">
    <h3>Columns</h3>
</section>