---
import type { SectionSection } from "src/types/payload-types";
interface Props {
    section: SectionSection
}
const { section } = Astro.props;
console.log('Section', section);
---
<section class="section __section">
    <h3>Section</h3>
</section>