---
import type { LexicalEditor } from "./parts/PLexical/types";

import PLexical from './parts/PLexical/index.astro';

interface Props {
    content: {
        textEditor: LexicalEditor
    }
}
const { content: {textEditor}} = Astro.props; 
---
<div>
    <PLexical textEditor={textEditor } />
</div>