---
import "src/styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import SectionRouter from "src/components/SectionRouter.astro";
import { getPageBySlug } from "../lib/payloadAPI";

const pageData = await getPageBySlug('home');
---

<Layout title="Home page">
  <main>
	<SectionRouter sections={pageData.sections} />
	</main>
</Layout>
