---
import "src/styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import BlankLayout from "../layouts/Blank.astro";
import SectionRouter from "src/components/SectionRouter.astro";
import { getPageBySlug } from "../lib/payloadAPI";

interface Props {
	default_header: boolean,
	layout: string,
	title: string,
	metadata?: {
		description?: string,
		meta_image?: string
	}
}

const pageData = await getPageBySlug('home');
const { default_header = false, layout = "default", title = "", metadata }: Props = pageData;
---
{
	layout === "default" ? (
	  <Layout default_header={default_header} >
		<main>
		  <SectionRouter sections={pageData.sections} />
		</main>
	  </Layout>
	) : (
	  <BlankLayout default_header={default_header}>
		<main>
		  <SectionRouter sections={pageData.sections} />
		</main>
	  </BlankLayout>
	)
  }
