---
import type { SectionColumns } from "src/types/payload-types";
import BlockRouter from "../BlockRouter.astro";
interface Props {
  section: SectionColumns;
}
const {
  section: { blocks, column_options },
} = Astro.props;
const { columns = "2", justify = "center" } = column_options || {};
---

<section
  class={`section __columns gy-3 row row-cols-1 row-cols-md-${columns}${
    justify === "stretch" ? " --stretch" : ""
  }`}
  style={{ justifyContent: justify }}
>
  {blocks && <BlockRouter classNames="col" blocks={blocks} />}
</section>

<style lang="css" is:global>
    .__columns.--stretch > * {
        flex: 1 0 auto;
    }
</style>