---
import type { SectionRow } from "src/types/payload-types";
import BlockRouter from "../BlockRouter.astro";
interface Props {
  section: SectionRow;
}
const {
  section: { layout = "6_6", col_1_blocks, col_2_blocks },
} = Astro.props;

const [col1, col2] = (layout || "6_6").split("_");
---

<section class="section __row row gy-4">
  <div class={`row-col col-12 col-md-${col1}`}>
    {col_1_blocks && <BlockRouter blocks={col_1_blocks} />}
  </div>
  <div class={`row-col col-12 col-md-${col2}`}>
    {col_2_blocks && <BlockRouter blocks={col_2_blocks} />}
  </div>
</section>

<style lang="scss" is:global>
  // TODO: Variable for gutters? 
  // Equalize content heights
  .row-col {
    > .block {
      height: 100%;
      > div {
        height: 100%;
      }
    }
   // Remove margins from the the last-child to keep padding sizes even
    > .block :last-child {
      margin-bottom: 0;
    }
  }
</style>
