---
import type { SectionOptions } from "src/types/payload-types";

interface Props {
    options: SectionOptions
}

const pMap = {
    top_bottom: "py-4",
    top: "pt-4",
    bottom: "pb-4",
    none: "none"
}

const { options: {width = "container", padding = "top_bottom", bg_color, variant, anchor} } = Astro.props;

const pClass = pMap[padding || "top_bottom"] || " blankie";

const defaultBg = 'bg-none'
const bg = typeof bg_color !== "string" ?`text-bg-${bg_color?.name}` || "defaultBg" : defaultBg; 

---
<div class:list={['section-container', '__outer', bg]}>
    <div class:list={['__inner', width, pClass]}>
        <slot />
    </div>
</div>
