---
import type { Media } from "@src/types/payload-types";
import type { LinksSocial } from "@src/types/payload-types";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

//TODO: Styling

interface Props {
  social_links: LinksSocial;
}

const { social_links } = Astro.props;

const prefix = import.meta.env.MEDIAPATH || "/media/";
---
  <ul class="row footer-social-links">
    {
      social_links &&
        social_links.length &&
        social_links.map((item) => {
          if (
            item.social_icon === "custom-icon" &&
            item.custom_icon &&
            typeof item.custom_icon !== "string"
          ) {
            return (
              <li class="col-auto footer-social-link --custom">
                <a target="_blank" href={item.social_link}>
                  <Image
                    alt={item.custom_icon.alt || ""}
                    src={prefix + item.custom_icon.filename}
                    width={30}
                    height={30}
                  />
                </a>
              </li>
            );
          } else {
            return (
              <li class="col-auto footer-social-link --icon">
                {" "}
                <a target="_blank" href={item.social_link}>
                  <Icon
                    name={item.social_icon}
                    width={30}
                    height={30}
                  />
                </a>
              </li>
            );
          }
        })
    }
  </ul>

<style lang="scss">
ul.footer-social-links {
  padding-left: 0;
}
  .footer-social-link {
    list-style: none;
    > a {
        text-decoration: none;
        color: inherit;
    }
  }
</style>
