---
import { getPayloadSiteOptions } from 'src/lib/payloadAPI';
import MainNav from "src/components/layout/MainNav.astro";
import '@fontsource/material-icons';

interface Props {
	title: string;
	metadata?: any;
}

const { title } = Astro.props;
const siteData = await getPayloadSiteOptions();
console.log('main nav', siteData.header.main_nav);
const sublinks = siteData.header.main_nav.nav.map((i:any) => i.sublinks);
console.log('sublinks', sublinks);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<MainNav header={siteData.header} />
		<slot />
	</body>
</html>

