---
import type { BlockParagraph } from "src/types/payload-types";

interface Props {
  content: BlockParagraph;
}

const {
  content: { paragraph = "" },
} = Astro.props;
---

<p>
  {paragraph}
</p>
